#admin #newproperty {
  display: none;
}

#admin .contact {
  border: 1px solid #DADADA;
  border-radius: 3px;
}

.opentickets {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0px;
  display: block;
}